.root-nav {
	width: 100%;
	background-color: #1b1d25;
	color: #fff;
	padding-left: 130px;
	padding-right: 40px;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 10;
}

.root-nav div {
	display: flex;
	align-items: center;
	padding: 10px 0;
}

.root-nav div p {
	padding-left: 5px;
	font-size: 20px
}

.logo {
	width: 35px;
}

.root-nav button {
	background: #fff;
	color: #1b1d25;
	padding: 10px 15px;
	font-size: 16px;
	font-weight: 500;
	border: 0;
	outline: 0;
	border-radius: 30px;
	cursor: pointer;
}

@media only screen and  (max-width:600px) {
	.root-nav {
		padding-left: 40px;
		padding-right: 25px;
		padding-top: 3px;
		padding-bottom: 5px;
	}

	.logo {
		width: 12px;
	}

	.root-nav div {
		padding: 5px 0;
	}

	.root-nav div p {
		font-size: 12px;
	}

	.root-nav button {
		padding: 5px 10px;
		font-size: 8px;
	}

}