.newset-popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;

	background-color: transparent;
	backdrop-filter: blur(5px);
	display: flex;
	justify-content: center;

	z-index: 999;
}

.newset-popup-box {
	position: relative;
	top: 25%;
	background-color: #1b1d25;
	border: 1px solid var(--color-outlines);
	padding: 20px;
	width: 450px;
	height: 350px;
	border-radius: 15px;
}

.newset-popup-heading {
	color: #fff;
	display: flex;
	justify-content: space-between;
}

.newset-popup-heading h2 {
	font-size: 16px;
	margin-bottom: 20px;
}

.newset-popup-heading button {
	background: transparent;
	color: white;
	height: 25px;
	width: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;

	font-size: 25px;
	font-weight: 300;
	cursor: pointer;
}

.newset-popup-text {
	color: #fff;
	font-size: 14px;
	margin-bottom: 5px;
}

.newset-popup-title-text {
	width: 410px;
	height: 35px;
	background-color: transparent;
	border: 1px solid var(--color-outlines);
	color: #fff;
	outline: none;
	padding-left: 12px;
	border-radius: 10px;
}

.newset-popup-title-text:focus {
	border: 1px solid #fff;
}

.newset-popup-title {
	margin-bottom: 25px;
}

.newset-popup-description-text {
	width: 410px;
	height: 80px;
	background: transparent;
	border: 1px solid var(--color-outlines);
	color: #fff;
	outline: none;
	padding-left: 12px;
	padding-top: 10px;
	margin-bottom: 60px;
	border-radius: 10px;
	resize: none;
}

.newset-popup-description-text:focus {
	border: 1px solid #fff;
}

.newset-popup-buttons {
	width: 450px;
	padding-left: 260px;
	display: flex;
	gap: 10px
}

.cancel-newset {
	background-color: #383838;
	color: #fff;
	width: 70px;
	height: 30px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.create-newset {
	width: 70px;
	height: 30px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}